/*==============================================================================
   FDT styles
==============================================================================*/
.container {-moz-column-count: 6;
    -moz-column-width: 250px;
    -moz-column-gap: 5px;
    -webkit-column-count: 6;
    -webkit-column-width: 250px;
    -webkit-column-gap: 5px;
    column-count: 6;
    column-width: 250px;
    column-gap: 5px;
    padding: 0px;
    width: 1580px;}

@media screen and (min-width : 1350px) and (max-width : 1600px){
    .container {-moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
        width: 1290px;}
}

@media screen and (min-width : 1109px) and (max-width : 1349px){
    .container {-moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
        width: 1050px;}
}

@media screen and (min-width : 869px) and (max-width : 1108px){
    .container {-moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        width: 810px;}
}

@media screen and (min-width : 629px) and (max-width : 868px){
    .container {-moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        width: 570px;}
}

@media screen and (min-width : 0) and (max-width : 628px){
    .container {-moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        width: 250px;}
}

div.item {background: #fefefe;
    position: relative;
    border: 0;
    overflow: hidden;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 5px;
    padding: 0; 
    width: 250px;
    transition: opacity .4s ease-in-out;
    -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    z-index: 1;
    -webkit-transform: translate3d(0,0,0); /* fix for safari position:relative */
}

div.item div.item_shadow {width: 100%;
    height: 300%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.15;
    z-index: 2;
    background-color: #ccc;}
div.item:hover div.item_shadow {display: none;}

div.item img {width: 250px; 
    height: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;}

div.item div.name {border-bottom: 1px solid #ccc;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin: 3px 15px 15px;
    padding-bottom: 10px;
    text-align: center;}

div.item div.desc {font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    margin: 0 15px 10px;
    text-align: left;}
div.item div.desc span.moreContent {overflow: hidden;}
div.item div.desc span.moreContent span {display: none;}

a.moreLink {color: #717171;
    font-weight: bold;
    outline: 0 none;
    display: block;
    padding: 3px 0px 0px 0px;
    text-decoration: none;}